[Unit]
Description=Load kexec crash kernel
After=local-fs.target
ConditionPathExists=/sys/kernel/kexec_crash_size

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/kdump-load.sh

[Install]
WantedBy=multi-user.target
